@media (min-width:785px) {
    nav {
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 110px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px 0px 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        
    }
    h2 {
        font-size: 4.5rem;
    }
}









@media (max-width:784px){
    nav {
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 110px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px 0px 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    h2 {
        font-size: 3.2rem;
    }
    .yellow{
        font-size: 5.2rem;
    }
    #home p{
        font-size: 1.2rem;
    }
    span{
        font-size: 1.7rem;
    }
    #menu-btn{
        width: 30px;
        height: 30px;
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 2.5rem;
        color: rgb(0, 0, 0);
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background-color:rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(133, 133, 133, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: #000000;
    }
    #course{
        padding: 4vw 4vw 4vw 4vw;
        text-align: center;
    }
    #features{
        padding: 3vw 3vw 3vw 3vw;
        text-align: center;
        margin-bottom: 60px;
    }
        /*-----=============About Page============----*/
        #about-home{
            height: 60vh;
        }
        #about .content img{
            height: auto;
            width: 600px;
            border-radius: 30px;
            margin-bottom: 30px;
        }
        .text h1 span{
            font-size: 2.9rem;
            text-align: center;
        }
        .text h1{
            color: red;
            font-size: 2.9rem;
            text-align: center;
        }
        .text h5{
            font-size: 1.4rem;
            letter-spacing: 1px;
            text-align: center;
        }
        .text p{
            line-height: 25px;
            letter-spacing: .5px;
            margin-bottom: 35px;
            text-align: center;
        }
        .text a{
            text-decoration: none;
            font-size: 1rem;
            padding: 8px 18px;
            background-color: #ffffff;
            font-weight: 500;
            border-radius: 20px;
            
        }
}








@media (max-width:585px){
    nav {
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 110px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px 0px 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    h2 {
        font-size: 2rem;
    }
    .yellow{
        font-size: 4rem;
    }
    #home p{
        font-size: .9rem;
    }
    span{
        font-size: 1.4rem;
    }
    #course{
        padding: 20vw 20vw 20vw 20vw;
        text-align: center;
    }
    #features{
        padding: 20vw 20vw 20vw 20vw;
        text-align: center;
        margin-bottom: 60px;
    }
    nav #logo{
        width: 100px;
        cursor: pointer;
    }
    /*-----About Page----*/
    #about-home{
        height: 60vh;
    }
    #about .content img{
        height: auto;
        width: 450px;
        border-radius: 30px;
        margin-bottom: 30px;
    }
    .text h1 span{
        font-size: 2.8rem;
        text-align: center;
    }
    .text h1{
        color: red;
        font-size: 2.8rem;
        text-align: center;
    }
    .text h5{
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-align: center;
    }
    .text p{
        line-height: 23px;
        letter-spacing: .5px;
        margin-bottom: 35px;
        text-align: center;
    }
    .text a{
        text-decoration: none;
        font-size: 1rem;
        padding: 8px 18px;
        background-color: #ffffff;
        font-weight: 500;
        border-radius: 20px;
        
    }
}






@media (min-width:375px) and (max-width:410px){
    nav {
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 110px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px 0px 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    h2 {
        font-size: 1.5rem;
    }
    .yellow{
        font-size: 3.5rem;
    }
    #home p{
        font-size: .8rem;
    }
    span{
        font-size: 1.1rem;
    }
    .footer-row .f-title h3{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
    .footer-row .f-title span{
        color: rgb(255, 0, 0);
        font-size: 1rem;
        font-weight: 400;
    }
    .footer-row .f-icons i{
        color: white;
        font-size: 1.8rem;
    }
    #course{
        padding: 10vw 10vw 10vw 10vw;
        text-align: center;
    }
    #features{
        padding: 10vw 10vw 10vw 10vw;
        text-align: center;
        margin-bottom: 60px;
    }
    nav #logo{
        width: 100px;
        cursor: pointer;
    }

    /*-----About Page----*/
    #about-home{
        height: 50vh;
    }
    #about .content img{
        height: auto;
        width: 350px;
        border-radius: 30px;
        margin-bottom: 30px;
    }
    .text h1 span{
        font-size: 2.4rem;
        text-align: center;
    }
    .text h1{
        font-size: 2.4rem;
        text-align: center;
    }
    .text h5{
        font-size: 1.1rem;
        letter-spacing: 1px;
        text-align: center;
    }
    .text p{
        line-height: 20px;
        letter-spacing: .5px;
        margin-bottom: 35px;
        text-align: center;
    }
    .text a{
        text-decoration: none;
        font-size: 1rem;
        padding: 8px 18px;
        background-color: #ffffff;
        font-weight: 500;
        border-radius: 20px;
        
    }
 /*========== Course inner ===========*/
    #courses-home h2{
        font-size: 1.3rem;
        letter-spacing: 0;
    }
    #course-inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 8vw;
    }
    #course-inner h4{
        padding: 35px 0 25px 0;
    }
    #course-inner p{
        color: rgb(68, 68, 68);
    }
    #course-inner hr{
        height: 1px;
        background: #09003b;
        margin-top: 40px;
    }
    #course-inner .overview{
        width: 60%;
    }
    #course-inner .overview .course-img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
        border: 4px solid red;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        border-radius: 12px;
        margin-bottom: 20px;
    }
    #course-inner .overview .course-head{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    #course-inner .overview .course-head .c-name{
        width: 60%;
    }
    #course-inner .overview .course-head .c-name h3{
        color: #09003b;
        font-size: 1.4rem;
    }
    #course-inner .overview .course-head .c-name .star{
        margin: 6px 0;
        color: #fdc93b;
        font-size: 0.9rem;
    }
    
    #course-inner .overview .course-head span{
        background-color:rgb(0, 128, 0);
        color: white;
        font-size: 1.2rem;
        line-height: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        transition: .5s;
    }
    #course-inner .overview .course-head span:hover{
        background-color:rgb(255, 0, 0);
        transform: scale(1.1);
    }
    
    #course-inner .learn p{
        padding-bottom: 15px;
    }
    #course-inner .learn p i{
        color: green;
        font-weight: 500;
        margin-right: 20px;
        vertical-align: middle;
        font-size: 1.2rem;
    }
    #course-inner .tutor{
        display: flex;
    }
    #course-inner .tutor img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px;
    }
    #course-inner .enroll{
        width: 300px;
        padding: 0 30px 30px 30px;
        border-radius: 11px;
        box-shadow: 0 20px 40px 0 rgb(11 2 55 / 20%);
    }
    #course-inner .enroll h4{
        padding-bottom: 10px;
    }
    #course-inner .enroll p{
        font-size: 15px;
        margin: 15px 0;
    }
    #course-inner .enroll p i{
        color: green;
        font-size: 16px;
        font-weight: 500;
        margin-right: 15px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        vertical-align: middle;
    }
    #course-inner .enroll .enroll-btn{
        padding: 25px 0 20px 0;
        margin: auto;
        text-align: center;
    }
    #course-inner .enroll .enroll-btn a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
        padding: 5px 15px;
        background-color: red;
        border-radius: 20px;
        transition: .6s ease;
    }
    #course-inner .enroll .enroll-btn a:hover{
        background-color: green;
    }

    #courses-home{
        height: 40vh;
    }


}

